<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="worlds/empty.world"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find kubot_description)/urdf/kubot_description.urdf.xacro'"/>

  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot -z 0.2" respawn="false" output="screen"/>

  <rosparam file="$(find kubot_controller)/controller/arm_controller_ur5.yaml" command="load"/>

  <include file="$(find kubot_controller)/launch/arm_controller_utils.launch"/>
  <node name="arm_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn arm_controller" respawn="false" output="screen"/>
  <!--<include file="$(find kubot_controller)/launch/hand_controller.launch"/>-->


</launch>
