<?xml version="1.0"?>
<launch>

    <!-- Arm  -->
    <rosparam file="$(find kubot_gazebo)/controller/arm_controller_ur5.yaml" command="load"/>
    <node name="arm_controller_spawner" pkg="controller_manager" type="spawner" output="screen" args="arm_controller --shutdown-timeout 0.5"/>

    <!-- Gripper -->
    <rosparam file="$(find kubot_gazebo)/controller/hand.yaml" command="load" />
    <node name="hand_controller_spawner" pkg="controller_manager" type="spawner" output="screen" args="
  		hand_j11_position_controller
  		hand_j12_position_controller
  		hand_j22_position_controller
  		hand_j32_position_controller --shutdown-timeout 0.5"/>

</launch>
