<?xml version="1.0"?>
<launch>

    <!-- Arm  -->
    <rosparam file="$(find kubot_gazebo)/controller/arm_controller_ur5.yaml" command="load"/>
    <node name="arm_controller_spawner" pkg="controller_manager" type="spawner" output="screen" args="arm_controller --shutdown-timeout 0.5"/>

    <!-- Gripper -->
    <rosparam file="$(find kubot_gazebo)/controller/hand.yaml" command="load" />
    <node name="controller_spawner" pkg="controller_manager" type="spawner" output="screen" ns="/" args="
  		hand_j11_position_controller
  		hand_j12_position_controller
  		hand_j22_position_controller
  		hand_j32_position_controller --shutdown-timeout 0.5"/>

      <rosparam file="$(find kubot_gazebo)/controller/joint_state_controller.yaml" command="load"/>
      <node name="joint_state_controller_spawner" pkg="controller_manager" type="spawner" args="joint_state_controller --shutdown-timeout 0.5" />

</launch>
