<?xml version="1.0"?>
<launch>
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find kubot_controller)/config/hand.yaml" command="load"/>

  <!-- load the controllers that come up when started-->
  <node name="hand_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/" args="joint_state_controller
    arm_controller
		hand_j11_position_controller
		hand_j12_position_controller
		hand_j22_position_controller
		hand_j32_position_controller"/>

  <node name="hand_joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
	<!--  <param name="use_gui" value="True"/> -->
  </node>

  <!-- once the joint_state is published, run the robot_state_publisher, the namespace has to be adapted -->
  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="hand_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
  </node>

</launch>
